html {
    font: 12px Times;
}

body {
    background: url("../images/td5/background.png"),rgb(230, 228, 214);
}

body * {
    box-sizing: border-box;
}

#body {
    width: 900px;
    margin: auto;
}
header {
    height: 100px;
    background: center bottom / auto no-repeat url("../images/td5/top.png");
    margin-bottom : 30px;
}

footer {
    margin-top: 30px;
    height: 200px;
    background: center top / auto no-repeat url("../images/td5/bottom.png");
}

footer #copyright {
    padding-top: 100px;
    text-align: center;
}

#copyright p {
    font: italic 12px Times;
    color: grey;
    
}

#copyright a {
    color: grey;
}



main nav {
    background: top / auto no-repeat url("../images/td5/middle.png") ;
    margin-top: 30px;
    padding-top: 60px;
}

main section#articles, main nav  {
    display: flex;
    flex-wrap: wrap;   
}

section#articles>article, nav>div {
    width: 215px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border:1px solid #cccccc;
    border-radius: 5px;
    padding : 5px; 
}

h2 {
    margin: 2px 0px;
    text-align: center;
}

h2 .surtitre {
    font: italic 12px Times;
    color: grey;
}

h2 .titre {
    font:  12px Times;
    text-transform: uppercase;
}

.debut-article {
    color:red  ;
}

.lettrine {
    color:red  ;
    font-size: 3em;
    float:left; 
    transform: scaleY(1.4);
    display: block;
}

article p a{
    color:red;
}

@media screen and (max-width: 950px) {
    #body {
        width: 450px;
    }


}

@media screen and (max-width: 500px) {
    #body {
        width: 225px;
    }

    header,footer,main nav {
        background-size: 400px auto;
    }

    header {
        margin-bottom: 10px;
    }

    footer {
        margin-top: 10px;   
    }
    footer #copyright {
        padding-top: 50px;
    }

    #copyright p {
        font-size: 0.8em;
    }

    main nav {
        padding-top: 30px;
    }

}