body {
    margin:0px;
}

.conteneur {
    width: 80%;
    margin: auto;
}

header {
    color:white;
    background-color: #333333; 
}

header>div {
    display: flex;
    margin:auto;
    display:flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

header p {
    display: inline-block;
    margin: 1px 10px;
}

header img {
    height: 15px;
}

nav {
    margin: auto;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin:1px 40px 1px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav li {
    list-style: none;
    margin: 0px 20px;
}

section#recherche {
    width: 100%;
    margin:0px;
    height: 600px;
    background: no-repeat center / 140% url('../img/hero-bg.jpg');
}

#cont_recherche {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dreamcar {
    color:white;
    width: 50%;
}

#formulaires {
    width: 40%;
}

#formulaires>div, .formulaire {
    background-color: white;
}

#formulaires>div {
    display: inline-block;
    margin-bottom:3px;
    padding:3px;
}

.formulaire {
    margin:0px;
    border:0px;
}

.formulaire>div {
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#f2 {
    display: none;
}


