* {
    box-sizing: border-box;
}

html,body {
    margin:0;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: #727171;
    font-weight: 400;
    line-height: 25px;
}

.conteneur {
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 15px;
    color:#db2d2e;
    font-weight: 700;
    text-transform: capitalize;
}

h2,h3 {
    color: #353535;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0.125em;
    margin-bottom: 0.4em;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}


.bouton-rouge {
    background-color: #DB2D2E;
    text-decoration: none;
    color:white;
    padding: 0.9em 1.3em;
    border-radius: 2px;
    font-weight: 600;
    margin: 0px 5px;
}

.bouton-rouge img {
    vertical-align: middle;
}

#header {
    color:white;
    background-color: #333333; 
}

#header .conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#header p {
    display: inline-block;
    margin: 1px 10px;
}

header img {
    height: 1em;
}

#nav {
    margin: auto;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

#nav ul {
    margin:1px 40px 1px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#nav li {
    list-style: none;
}

#nav li a{
    text-decoration: none;
    padding: 0px 15px;
    color: #323232;
    font-weight: 700;
    text-transform: uppercase;
}

#recherche {
    height: 600px;
}

.recherche-font{
    z-index: -1;
    position: absolute;
    top:150px;
    width: 100%;
    margin:0px;
    height: 600px;
    background: no-repeat top / 100% url('../img/hero-bg.jpg');
}

#recherche {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recherche-droite {
    width: 40%;
}

.recherche-gauche {
    color:white;
}

.recherche-gauche h1 {
    font-size: 20px;
    color:inherit;
    text-transform: uppercase;
}

.recherche-gauche p {
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 700;
}

.recherche-gauche span {
    display: inline-block;
    background-color: white;
    font-size:1rem;
    color: #323232;
    padding: 0.3em 0.8em;
    border-radius: 2px;
    vertical-align: super;
}

.recherche-gauche .bouton-rouge:last-of-type {
    background-color: transparent;
    border:1px solid white;
}

.recherche-droite>* {
    background-color: white;
    border-radius: 2px;
}

.recherche-droite-onglet {
    display: inline-block;
    margin-bottom:3px;
    padding:3px;
}

.recherche-droite-formulaire {
    margin:0px;
    border:0px;
}

.recherche-droite-formulaire>* {
    padding: 5px 10px;
}

.recherche-droite-formulaire-tab {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.recherche-droite-formulaire-tab-lab {
    display: flex;
    flex-direction: column;
    width: 48%;
}

#f2 {
    display: none;
}

.service-entete>* {
    text-align: center;
}

.service-liste {
    display: flex;
}

.service-liste article {
    text-align: center;
}