* {
    box-sizing: border-box;
}

html,body {
    margin:0;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    color: #727171;
    font-weight: 400;
    line-height: 25px;
}

.conteneur {
    max-width: 1250px;
    margin: auto;
    padding:0 40px;
}

h1 {
    font-size: 15px;
    color:#db2d2e;
    font-weight: 700;
    text-transform: capitalize;
}

h2,h3 {
    color: #353535;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 0.125em;
    margin-bottom: 0.4em;
    line-height: 1.2em;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

i {
    padding: 0px 5px;
}

.bouton-rouge,.bouton-bleu,.bouton-transparent,.bouton-noir,.bouton-blanc {
    text-decoration: none;
    color:white;
    padding: 0.9em 1.3em;
    border-radius: 2px;
    font-weight: 600;
    margin: 0px 5px;
}

.bouton-bleu {
    background-color: #5377f8;
}

.bouton-rouge {
    background-color: #db2d2e;
}

.bouton-transparent {
    background-color: transparent;
    border:1px solid white;
}

.bouton-noir {
    background-color:#222;
}

.bouton-blanc {
    background-color:#ffffff;
    color:#323232;
}


.bouton-rouge img {
    vertical-align: middle;
}

#header {
    color:white;
    background-color: #333333; 
}

#header .conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#header p {
    display: inline-block;
    margin: 1px 10px;
}

header img {
    height: 1em;
}

#nav {
    margin: auto;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#nav li {
    list-style: none;
}

#nav li a{
    text-decoration: none;
    padding: 0px 15px;
    color: #323232;
    font-weight: 700;
    text-transform: uppercase;
}

#recherche {
    height: 600px;
}

.recherche-font{
    z-index: -1;
    position: absolute;
    top:150px;
    width: 100%;
    margin:0px;
    height: 700px;
    background: no-repeat top / auto url('../img/hero-bg.jpg');
}

#recherche {
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recherche-gauche {
    color:white;
}

.recherche-gauche h1 {
    font-size: 20px;
    color:inherit;
    text-transform: uppercase;
}

.recherche-gauche p {
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 500;
}

.recherche-gauche span {
    display: inline-block;
    background-color: white;
    font-size:1rem;
    color: #323232;
    padding: 0.3em 0.8em;
    border-radius: 2px;
    vertical-align: super;
}



.recherche-droite {
    width: 40%;
}

.recherche-droite>* {
    background-color: white;
    border-radius: 2px;
}

.recherche-droite-onglet {
    display: inline-block;
    margin-bottom:4px;
    padding:5px 1em;
    width: 7.1em;
    color:#323232;
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
}

.recherche-droite h2 {
    font-size:30px;
    text-align: center;
    margin: 1.3em auto 0.7em;
}

.recherche-droite-formulaire {
    margin:0px;
    border:0px;

    color:#323232;
}



.recherche-droite-formulaire-tab {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}

.recherche-droite-formulaire-tab-lab,.recherche-droite-formulaire-curseur {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.recherche-droite-formulaire-tab-lab {
    width: 48%;
}

.recherche-droite-formulaire-tab-lab input{
    height: 2.5rem;
    border:1px solid #e6e1e1;
}

.recherche-droite-formulaire-tab-lab label{
    margin-bottom: 0.3em;
}

.recherche-droite-formulaire a {
    display: inline-block;
    margin-bottom: 30px;
}

#f2 {
    display: none;
}

.service-entete>* {
    text-align: center;
}

.service-liste {
    display: flex;
}

.service-liste article {
    text-align: center;
    border: 1px solid #e6e1e1;
    border-radius: 2px;
    margin:10px;
    padding: 10px;
}

#service i {
    color:red;
    font-size: 1.5em;
    font-weight: 700;
}

#feature {
    background:no-repeat center / 50% url('../img/feature-car.png');
    display: flex;
    justify-content: space-between;
}

.feature-gauche,.feature-droite{
    width: 350px;
}

.feature-droite {
    display: flex;
    flex-wrap: wrap;
}

.feature-droite-feature {
    padding:10px;
    margin:20px 30px;
    align-items: center;
    color:#323232;
    font-weight: 600;
    text-align: center;
}

.feature-droite-feature-img {
    height: 51px;
    width: 86px;
}



#car h1,#car h2, .car-h3 {
    text-align: center;
}

.car-h3 h3{
    display: inline-block;
    margin: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}

.car-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car-article {
    border: 1px solid #e6e1e1;
    border-radius: 2px;
    width: 272px;
    margin:10px;
}

.car-article-annee {
    border: 1px solid #e6e1e1;
    border-radius: 2px;
    width: 5em;
    padding: 0.2em 1em;
    text-align: center;
    margin-left: 20px;
    color:#323232;
    font-weight: 700;
    font-size: 0.85rem;
}

.car-article-vehicule {
    font-weight: 700;
    margin-left: 20px;
    color:#323232;
    font-size:1.2rem;
}

.car-article-caract {
    margin-bottom: 20px;
}

.car-article-caract ul{
    display:flex;
    justify-content: space-between;
    font-weight: 700;
    margin:0 20px;
    padding:0px;
}

.car-article-caract li {
    list-style: none;
}

.car-article-caract li span{
    color:#323232;
}

.car-article-prix {
    border-top: 1px solid #e6e1e1;
    border-radius: 2px;
    margin:0;
    padding: 9px 0;
}

.car-article-prix a {
    margin:0 20px 0 0;
}

.car-article-prix span{
    color:#db2d2e;
}

#footer{
    background: no-repeat center url("../img/footer-bg.jpg");
    height: 500px;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom:1px solid #727171;
    margin-bottom: 30px;
}

.footer-contact h2{
    display: inline-block;
    color:white;
}

.footer-lien {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.footer-lien-social {
    width: 300px;
}

.footer-lien h1 {
    color:white;
}

.footer-lien ul{
    padding:0;
    height: 100px;
}

.footer-lien li{
    list-style: none;
}

.footer-lien a{
    text-decoration: none;
    color:inherit;
}

.footer-copyright{
    margin-top: 40px;
}

